<main>
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img ng-src="images/{{item.image}}" alt="{{item.full_name}}">
                <div class="caption">
                    <h3>{{item.full_name}}</h3>
                    <p>Age: {{item.age}}</p>
                    <p>Favorite Food: {{item.favorite_food}}</p>
                    <p>Assistant Rate: {{item.assistant_hour_rate}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <a href="#/" class="btn btn-primary btn-lg">Back to List</a>
    </div>
</main>