<main>
<div class="row">
    <div class="jumbotron">
         <div class="col-sm-6 col-md-4" ng-repeat="item in celebrity_list.celebrities track by $index">
            <div class="thumbnail">
                <img ng-src="images/{{item.image}}" alt="{{item.full_name}}">
                <div class="caption">
                    <h3>{{item.full_name}}</h3>
                    <p><a class="btn btn-default" href="#/detail/{{item.id}}">Go Detail</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</main>